{% extends "base.html" %}
{% load static %}
{% load question_extra %}
{% block content %}
    <h1 class="text-center mt-2">
        Kategoria <a href="{{ object.get_absolute_url }}" class="badge badge-dark p-3 mr-1">
                    {% if object.fa_icon_class %}
                        <i class="{{ object.fa_icon_class }}"></i>
                    {% endif %}
                    {{ object }}
                </a>
    {% if user.redactor or user.is_superuser %}
        <a class="btn btn-outline-dark p-3" href="{{object.get_update_url}}">Edit</a>
    {% endif %}
    </h1>
{#<div class="card row m-2 mt-4">#}
{#    <p class="text-muted pt-2 pl-3 h5">Sortowanie i filtry:</p>#}
{#    <form method="get" action="{% url 'Category_detail' object.name %}" class="input-group">#}
{#        <div class="col-12 col-sm-4 mb-3">#}
{#            <select name="order" class="custom-select">#}
{#                {%  for order in orders %}#}
{#                    <option value="{{ order }}"  {% if order == prev_order %}selected{% endif %}>{{ order }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </div>#}
{#        <input type="hidden" name="category" value="{{ category.name }}">#}
{#        <div class="col-12 col-sm-4 mb-3">#}
{#            <input type="text" name="title" class="form-control" placeholder="Tytuł..." value="{{ title }}">#}
{#        </div>#}
{#        <div class="col-12 col-sm-4">#}
{#            <button class="btn btn-outline-dark w-100">Szukaj</button>#}
{#        </div>#}
{#    </form>#}
{#</div>#}
<div class="p-1">
{% for question in object.questions.all %}
    {% if not question.is_for_expert %}
    <div class="border hover-dark p-3 m-1 row">
        <div class="col-12 col-md-8">
            <a href="{{question.get_absolute_url}}" class="no-decoration">
                <p class="h5 text-muted">{{question.title}}</p>
            </a>
            {% for category in question.categories.all %}
                <a href="{{ category.get_absolute_url }}" class="badge badge-dark p-1 mr-1">
                    {% if category.fa_icon_class %}
                        <i class="{{ category.fa_icon_class }}"></i>
                    {% endif %}
                    {{ category }}
                </a>
            {% endfor %}
            <span class="text-muted">{{ question.created|date }}</span>
        {% if user.expert %}
            <a class="text-muted" href="{{ question.redactor.get_absolute_url }}">Redaktor: {{ question.redactor.user.first_name }} {{ question.redactor.user.last_name }}</a>
        {% endif %}
        </div>
        <div class="col-12 col-md-4 mt-md-0 mt-3">
            <div class="row text-center">
                <div class="col-2 mt-1">
                    <i class="fas fa-thumbs-down" ></i>
                </div>
                <div class="progress {% if question.review_set.count > 0 %}bg-success{% endif %} p-0 col-8 mt-1">
                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="{{ question.get_fake_percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ question.get_fake_percentage }}%"></div>
                </div>
                <div class="col-2 mb-1">
                    <i class="fas fa-thumbs-up"></i>
                </div>

            </div>
            <p class="text-muted text-center mt-2 m-0">Opini: {{ question.review_set.all.count }} ({{ question.get_real_percentage }}%)</p>
        </div>
    </div>
    {% endif %}
{% empty %}
    <div class="border p-3 m-1 row">
        <h3 class="col-12 text-center">Brak pytań spełniających kryteria...</h3>
    </div>
{% endfor %}
</div>
{% endblock %}