{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="container" style="margin-top: 50px;">
  <div class="row">
      <div class="col-md-12 text-right">
    <img src="{% static 'img/mailexpert.png' %}" style="width: 200px;"  class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-md-12 text-center"><h1><span style="color: rgb(198,40,40);">C</span>ześć!</h1></div>
    <div class="col-md-12 text-center"><h2><span style="color: rgb(198,40,40);">C</span>hcesz pomóc światu?</h2></div>
      <div class="col-md-12 text-center"><h5>Znalazłeś się w idealnym miejscu. Nieustannie poszukujemy specjalistów w swoich dziedzinach, którzy w ramach wolontariatu chcą nam pomóc w oczyszczaniu internetu z dezinformacji!</h5></div>
    <div class="col-md-12 text-center"><h4>Aplikuj do nas na maila: <a href="mailto:fakeheck@akai.org.pl" class="text-dark"><span style="color: rgb(198,40,40);">f</span>ake<span style="color: rgb(198,40,40);">c</span>heck@akai.pl</a></h4></div>
    <div class="col-md-12 text-center"><h5>Prześlij nam swoje imie, nazwisko, informację o dziedzinie jaką się zajmujesz oraz potwierdzenie swoich kompetencji!</h5></div>
      <div class="col-md-12 text-center"><h5>Obecnie poszukujemy ekspertów z zakresu weterynarii, wirusologii, ekonomii, lekarzy oraz dziennikarzy!</h5></div>
    <div class="col-md-12 text-center"><h5>To nasz wspólny świat, wszyscy możemy przyczynić się do jego poprawienia! <span style="color: rgb(198,40,40);">D</span>zięki!</h5></div>
  </div>
    <div class="col-md-12 text-left">
        <img src="{% static 'img/mailexpert2.jpg' %}" style="width: 200px;" class="img-fluid" alt="Responsive image">
    </div>
</div>


{% endblock %}
