{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="container-fluid" style="margin-top: 50px;">
  <div class="row">
      <div class="col-md-12 text-right">
    <img src="{% static 'img/mailexpert.png' %}" style="width: 200px;"  class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-md-12 text-center"><h1><span style="color: rgb(198,40,40);">C</span>ześć!!!</h1></div>
    <div class="col-md-12 text-center"><h2><span style="color: rgb(198,40,40);">C</span>hcesz pomóc światu?</h2></div>
      <div class="col-md-12 text-center"><h5>Znalazłeś się w idealnym miejscu.</h5></div>
    <div class="col-md-12 text-center"><h4>Aplikuj do nas na maila. <span style="color: rgb(198,40,40);">f</span>ake<span style="color: rgb(198,40,40);">c</span>heck@akai.pl</h4></div>
    <div class="col-md-12 text-center"><h5>Prześlij nam swoje imie, nazwisko.</h5></div>
      <div class="col-md-12 text-center"><h5>Potwierdzenie swoich kompetencji.</h5></div>
    <div class="col-md-12 text-center"><h5>Z góry <span style="color: rgb(198,40,40);">d</span>zięki!</h5></div>
  </div>
    <div class="col-md-12 text-left">
        <img src="{% static 'img/mailexpert2.jpg' %}" style="width: 200px;" class="img-fluid" alt="Responsive image">
    </div>
</div>


{% endblock %}
