{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
    <div class="container">
        <h1 class="m-3 text-center">Zadaj pytanie:</h1>
        <form method="post" enctype="multipart/form-data">
            {%  csrf_token %}
            {{ form|crispy}}
            <br>
            <strong>*Pola wymagane.</strong>
            <br>
            W źródłach powinny się znajdować tylko linki.
            <br>
            Linki oddzielaj znakiem nowej lini (enterem), na przykład: <br>
            https://fake-check.akai.org.pl/<br>
            https://www.hackcrisis.com/
            <br>
            <input type="submit" value="Wyślij" class="btn btn-outline-dark w-100 mt-2">
        </form>
    </div>
{% endblock %}
