
{% extends "base.html" %}
{% load static %}
{% block content %}

<p>
    <a class="btn btn-light" href="{% url 'fakechecker_QuestionFromUser_list' %}">
    Question Listing
    </a>
</p>

<form method="post">
{% csrf_token %}
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="content">title: </label>
  <input class="form-control col-sm-10" id="title" type="text" name="title" value="{{ object.title }}">
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="content">content: </label>
    <textarea class="form-control col-sm-10" id="content" type="text" name="content" value="{{ object.content }}"></textarea>
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="created">created: </label>
  <input class="form-control col-sm-10" id="created" type="date" name="created" value="{{ object.created }}" disabled>
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="sources">sources: </label>
  <input class="form-control col-sm-10" id="sources" type="text" name="sources" value="{{ object.sources }}">
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>
{% endblock %}
