{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="card p-2 p-md-4 cursor-pointer mt-4"
    data-toggle="collapse" href="#collapseDescription" role="button" aria-expanded="false" aria-controls="collapseDescription">
        <div>
            <a href="{{request.META.HTTP_REFERER}}" class="btn btn-outline-dark pl-3 pr-3">Powrót</a>
        </div>
        <h1 class="text-center">{{ object.title }}</h1>
        <p class="text-muted text-center">{{ object.created|date }}</p>
        <div class="authenticity-bar row text-center">
            <i class="fas fa-2x fa-thumbs-down col-2 col-md-1 mt-2" ></i>
            <div class="progress bg-success col-8 col-md-10 mt-3">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <i class="fas fa-2x fa-thumbs-up col-2 col-md-1"></i>
        </div>
        <div class="collapse text-muted mt-4" id="collapseDescription">
            <p>{{ object.content }}</p>
            <h4>Źródła:</h4>
            <ul>
                {% for source in object.list_of_sources %}
                <li><a href="{{ source }}">{{ source }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="row p-4">
            {% for category in object.categories.all %}
                <span class="badge badge-dark p-2 m-1">{{ category }}</span>
            {% endfor %}
        </div>
    </div>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}