{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="card p-2 p-md-4 mt-4 js-question-details">
        <div>
            <a href="{{request.META.HTTP_REFERER}}" class="btn btn-outline-dark pl-3 pr-3">Powrót</a>
        </div>
        <h1 class="text-center mt-4 mt-md-0">{{ object.title }}</h1>
        <p class="text-muted text-center">{{ object.created|date }}</p>
        <div class=" text-muted mt-4">
            <p>{{ object.content }}</p>
            {% if object.list_of_sources %}
                <h4>Źródła:</h4>
                <ul>
                    {% for source in object.list_of_sources %}
                    <li><a href="{{ source }}">{{ source }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}

        </div>
        <div class="row p-4">
            {% for category in object.categories.all %}
                <a href="{{ category.get_absolute_url }}" class="badge badge-dark p-2 m-1">
                    {% if category.fa_icon_class %}
                        <i class="{{ category.fa_icon_class }}"></i>
                    {% endif %}
                    {{ category }}
                </a>
            {% endfor %}
        {% if object.is_read %}
            <a class="badge badge-success p-2 m-1">Przetworzono</a>
        {% else %}
            <a class="badge badge-danger p-2 m-1">Nieprzetworzono</a>
        {% endif %}
        </div>
    </div>
    <a class="btn btn-outline-dark w-100" href="{{object.get_update_url}}">Edytuj</a>
{% endblock %}