
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'Redactor_list' %}">
    Redactor Listing
    </a>
</p>
    
<form method="post">
{% csrf_token %}
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="phone_number">phone_number: </label>
  <input class="form-control col-sm-10" id="phone_number" type="text" name="phone_number" value="{{ object.phone_number }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="created">created: </label>
  <input class="form-control col-sm-10" id="created" type="date" name="created" value="{{ object.created }}" disabled>
  </div>
  <input type="submit" value="Save" class="btn btn-outline-dark">
</form>

{% endblock %}