
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'Redactor_list' %}">
    Redactor Listing
    </a>
</p>
    

    <div style="text-align: center; width: 100vw;
    vertical-align: middle; height: 50vh; display:table-cell;">
    <b>Użytkownik:</b> {{ object.user.get_full_name }} <br>
    <b>Email:</b> {{ object.user.email }} <br>
    <b>Numer telefonu:</b> {{ object.phone_number }} <br><br>
    <b>Użytkownik stworzony:</b> {{ object.created }}<br>
    </div>

{% endblock %}