
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'fakechecker_Redactor_list' %}">
    Redactor Listing
    </a>
</p>
    

    <div style="text-align: center; margin-left: auto; margin-right: auto;">
    <b>Użytkownik:</b> {{ user }} <br>
    <b>Email:</b> {{ user.user.email }} <br>
    <b>Numer telefonu:</b> {{ user.phone_number }} <br><br>
    <b>Zredagowane pytania:</b><br>
        {% for title in title %}
            {{ title }}<br>
        {% endfor %}
    <br>
    <b>Użytkownik stworzony:</b> {{ user.created }}<br>
    </div>

{% endblock %}