{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<h3><strong>Pytanie:</strong></h3>
<div class="row">
  <label class="col-sm-12"><strong>Tytuł:</strong></label>
  <p class="col-sm-12">{{question_for_expert.title}}</p>
  <label class="col-sm-12"><strong>Treść:</strong></label>
  <p class="col-sm-12">{{question_for_expert.content}}</p>
  <label class="col-sm-12"><strong>Utworzone:</strong></label>
  <p class="col-sm-12">{{question_for_expert.created}}</p>
  <label class="col-sm-12"><strong>Żródła:</strong></label>
  <p class="col-sm-12">{{question_for_expert.sources}}</p>
</div>
<h3><strong>Twoja recenzja:</strong></h3>
<form method="post">
{%  csrf_token %}
  {{ form|crispy}}
  <br>
  *Pola wymagane.
  <br>
  W źródłach powinny się znajdować tylko linki.
  <br>
  Linki oddzielaj ",", na przykład "https://fake-check.akai.org.pl/, https://www.hackcrisis.com/".
  <br>
  <input type="submit" value="Save" class="btn btn-outline-dark">
</form>

{% endblock %}