
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'fakechecker_Review_list' %}">
    Review Listing
    </a>
</p>
    
<table class="table">
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>justification</td><td>{{ object.justification }}</td></tr>
    <tr><td>is_info_fake</td><td>{{ object.is_info_fake }}</td></tr>
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>sources</td><td>{{ object.sources }}</td></tr>
</table>
<a class="btn btn-outline-dark" href="{{object.get_update_url}}">Edit</a>

{% endblock %}