.cursor-pointer{
  cursor: pointer;
}

.no-decoration{
  color: inherit;
  &:hover{
    color:inherit;
    text-decoration: inherit;
  }
}

.hover-dark{
  &:hover{
    color: white;
    background-color: #8c8c8c80;
  }
  transition: 0.15s;
}

.logo-icon{
  color: #C62828;
  font-weight: bold;
}
.navbar-brand{
  &::after, &::before, &{
      box-sizing: initial!important;
  }
}
