<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0 pb-2 fixed-top">
  <a class="navbar-brand  pl-3 pt-2" href="{% url 'index' %}"><span class="logo-icon">F</span>ake<span class="logo-icon">C</span>heck</a>
  <button class="navbar-toggler pr-3 pt-2" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse bg-dark p-2 pt-3 text-center" id="nav-content">
    <ul class="navbar-nav nav mr-auto">


          {% include 'common/includes/navbar-elements-unauthenticated.html' %}
          {% include 'common/includes/navbar-elements-redactor.html' %}
          {% include 'common/includes/navbar-elements-expert.html' %}
          {% include 'common/includes/navbar-elements-admin.html' %}
    </ul>
  {% include 'common/includes/navbar-auth-options.html' %}
  </div>
</nav>