{% load static %}
<html>
  <head>
    <title>{% block tiltle %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <script>
        const csrf = '{{ csrf_token }}';
    </script>
  </head>
  <body>
    {% include 'common/includes/navbar.html' %}
    <div class="wrap" id="app">
        <div class="container-fluid main-container">
            {% block content %} {% endblock %}
        </div>
    </div>
    {% include 'common/includes/footer.html' %}
    <script src="{% static 'index.js' %}"></script>
    {% block footer %} {% endblock %}
  </body>
</html>
