@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index';

@import "scss/config";
@import "scss/elements/footer";
@import "scss/elements/navbar";
@import "scss/elements/main_container";
@import "scss/elements/wrap";
@import "scss/elements/account_balance_table";
@import "scss/elements/prompt";
@import "scss/elements/choice";

html, body {
  height: 100%;
}
