
{% extends "base.html" %}
{% block content %}
    <form method="get" action="{% url 'fake-checker_QuestionFromUser_list' %}">
    <select name="order">
    {%  for order in orders %}
        <option value="{{ order }}"  {% if order == prev_order %}selected{% endif %}>{{ order }}</option>
    {% endfor %}
    </select>
    <select name="read">
    {%  for option in is_read %}
        <option value="{{ option }}" {% if option == prev_read %}selected{% endif %} >{{ option }}</option>
    {% endfor %}
    </select>
    <select name="category">
    <option value="{{ '' }}">{{ '' }}</option>
    {%  for category in categories %}
        <option value="{{ category.name }}" {% if category.name == prev_category %}selected{% endif %}>{{ category.name }}</option>
    {% endfor %}
    </select>
    <p><input type="submit" name="submit" value="submit"/></p>
</form>
{% for object in object_list %}
  <div class="m-2"><a href="{{object.get_absolute_url}}">{{object}}</a></div>
{% endfor %}
<div><a class="btn btn-primary" href="{% url 'fake-checker_QuestionFromUser_create' %}">Create a new QuestionFromUser</a></div>
{% endblock %}
