
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'fake-checker_Review_list' %}">
    Review Listing
    </a>
</p>
    
<form method="post">
{% csrf_token %}
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="last_updated">last_updated: </label>
  <input class="form-control col-sm-10" id="last_updated" type="date" name="last_updated" value="{{ object.last_updated }}" disabled>
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="justification">justification: </label>
  <input class="form-control col-sm-10" id="justification" type="text" name="justification" value="{{ object.justification }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="is_legit">is_legit: </label>
  <input class="form-control col-sm-10" id="is_legit" type="text" name="is_legit" value="{{ object.is_legit }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="created">created: </label>
  <input class="form-control col-sm-10" id="created" type="date" name="created" value="{{ object.created }}" disabled>
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="sources">sources: </label>
  <input class="form-control col-sm-10" id="sources" type="text" name="sources" value="{{ object.sources }}">
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}